body {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    overflow-x: hidden;
}

.container {
    width: 955px;
    margin: 0 auto;
}

.container, .frame2 {
    margin-right: auto;
    margin-left: auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.custom_h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 0 175px;
    color: #333333;
}

.num_1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.pic_1 {
    position: relative;
    left: 50px;
    z-index: 1;
}

.pram_1 {
    position: relative;
    top: 8px;
    right: 221px;
}

.custom_h2 {
    font-size: 24px;
    font-weight: bold;
}

ul {
    padding: 0 17px;
}
li {
    color: #468ADD;
}
li span {
    color: black;
}

.pic_2 {
    position: relative;
    left: 280px;
    z-index: 1;
}

.pram_2 {
    position: relative;
    top: 8px;
}

.pic_3 {
    position: relative;
    left: 35px;
    z-index: 1;
}

.pram_3 {
    position: relative;
    top: 8px;
    right: 264px;
}

.cifry {
    width: 7px;
    height: 610px;
    background-color: #F8F8F8;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 480px;
    bottom: 770px;
}

.cyrcle {
    width: 35px; 
    height: 35px;
    background: #468ADD;
    display: flex;
    border-radius: 50%;
    position: relative;
    bottom: 5px;
    right: 13px;
}

.cyrcle p {
    color: white;
    margin: 8px 13px;
}

.content_cifry {
    margin: 0 auto;
    width: 50px;
    position: absolute;
}

.mobile-content {
    display: none;
}

@media (max-width: 960px) {
    .pc-content {
        display: none;
   }
   
   .mobile-content {
        margin: 0 auto;
        display: flex;
        width: 320px;
   }
   .container {
        width: 85%;
   }
   .custom_h1 {
        padding: 0%;
        text-align: center;
        font-size: 24px;
   }
   .pic_1 {
        left: 0;
   }

   .pram_1_sm {
        position: relative;
        bottom: 143px;
        right: 4px;
    }

    .header_frame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 60px;
    }

    .custom_h2 {
        font-size: 16px;
    }

    .cyrcle {
        right: 0;
        bottom: 0;
    }

    .height_mob {
        height: 174px;
    }

    .descript_1-3 {
        position: relative;
        right: 165px;
        top: 35px;
    }
    .descript_2 {
        height: 1px;
        position: relative;
        top: 90px;
    }
    .pic_2 {
        left: 170px;
    }
    .head_2 {
        top: 80px;
    }
    .height_2 {
        height: 130px;
    }
    .num_2 {
        margin-bottom: 100px;
    }
    .pic_3sm {
        position: relative;
        right: 7px;
        z-index: 1;
    }
}